In [1]:
# import all the libraries
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import matplotlib.pyplot as plt

In [32]:
data = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/9_decision_tree/salaries.csv")
data

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [3]:
data.describe()

       salary_more_then_100k
count                 16.000
mean                   0.625
std                    0.500
min                    0.000
25%                    0.000
50%                    1.000
75%                    1.000
max                    1.000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company                16 non-null     object
 1   job                    16 non-null     object
 2   degree                 16 non-null     object
 3   salary_more_then_100k  16 non-null     int64
dtypes: int64(1), object(3)
memory usage: 640.0+ bytes

In [5]:
print(data.value_counts())

company     job                  degree     salary_more_then_100k
abc pharma  business manager     bachelors  0                        1
                                 masters    1                        1
            computer programmer  bachelors  0                        1
            sales executive      masters    0                        1
facebook    business manager     bachelors  1                        1
                                 masters    1                        1
            computer programmer  bachelors  1                        1
                                 masters    1                        1
            sales executive      bachelors  1                        1
                                 masters    1                        1
google      business manager     bachelors  1                        1
                                 masters    1                        1
            computer programmer  bachelors  0                        1
                                 masters    1                        1
            sales executive      bachelors  0                        1
                                 masters    0                        1
dtype: int64

In [6]:
print(data.columns)

Index(['company', 'job', 'degree', 'salary_more_then_100k'], dtype='object')

In [7]:
data.isnull().sum()

company                  0
job                      0
degree                   0
salary_more_then_100k    0
dtype: int64

In [8]:
data.isnull().any()

company                  False
job                      False
degree                   False
salary_more_then_100k    False
dtype: bool

In [15]:
# data.corr()

In [13]:
# import seaborn as sns
# plt.figure(figsize=(12,10))
# sns.heatmap(data.corr(), annot=True)

In [16]:
data.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [14]:
# plt.figure(figsize=(5,5))
# sns.barplot(x="Rating", y="Unit price", data=data[160:170])
# plt.title("rating vs unit price")
# plt.xlabel("Rating")
# plt.ylabel("unit price")

In [17]:
X = data.drop("salary_more_then_100k", axis="columns")
y=data["salary_more_then_100k"]

In [18]:
print(X)

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [19]:
print(y)

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [20]:
from sklearn.preprocessing import LabelEncoder

In [21]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [24]:
X['company_n']=le_company.fit_transform(X['company'])
X['job_n']=le_job.fit_transform(X['job'])
X['degree_n']=le_degree.fit_transform(X['degree'])

In [33]:
# print(X.head())
print(X)

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

In [27]:
X_new = X.drop(['company','job','degree'],axis="columns")
X_new.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [28]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [29]:
model.fit(X_new,y)

DecisionTreeClassifier()

In [30]:
model.score(X_new,y)

1.0

In [34]:
model.predict([[0,2,0]])

array([0], dtype=int64)